# First party that integrates the third party
one.schinkenschorsch.de {
    root * ./www
    templates
	encode zstd gzip
	file_server
}

# Tracker
two.schinkenschorsch.de:2015 {
    root * ./www
    templates
	encode zstd gzip
	file_server
}

# Embed
three.schinkenschorsch.de:2016 {
    root * ./www
    templates
	encode zstd gzip
	file_server
}
