# First party
one.schinkenschorsch.de {
    root * ./www
    templates
	encode zstd gzip
	file_server
}

# Different First Party
quictrack.online {
    root * ./www
    templates
	encode zstd gzip
	file_server
}

# Embed
quictrack.de {
    root * ./www
    templates
	encode zstd gzip
	file_server
}
